**Project:** Data Minining Project for  X company

The CRISP-DM Framework


The CRISP-DM methodology provides a structured approach to planning a data mining project. It is a robust and well-proven methodology.
* Business understanding (BU): Determine Business Objectives, Assess Situation, Determine Data Mining Goals, Produce Project Plan

* Data understanding (DU): Collect Initial Data, Describe Data, Explore Data, Verify Data Quality

* Data preparation (DP): Select Data, Clean Data, Construct Data, Integrate Data

* Modeling (M): Select modeling technique, Generate Test Design, Build Model, Assess Model
*  Evaluation (E): Evaluate Results, Review Process, Determine Next Steps
*  Deployment (D): Plan Deployment, Plan Monitoring and Maintenance, Produce Final Report, Review Project


References:

[What is the CRISP-DM methodology?](https://https://www.sv-europe.com/crisp-dm-methodology/)

[Introduction to CRISP DM Framework for Data Science and Machine Learning](https://https://www.linkedin.com/pulse/chapter-1-introduction-crisp-dm-framework-data-science-anshul-roy/)

**Data Set**
### The data is for company X which is trying to control attrition. 
### There are two sets of data: "Existing employees" and "Employees who have left". The following attributes are available for every employee.


*   Satisfaction Level

*   Last evaluation

*   Number of projects

*   Average monthly hours

*   Time spent at the company
*   Whether they have had a work accident


*  Whether they have had a promotion in the last 5 years


*   Departments (column sales)


*   Salary


*  Whether the employee has left

**Your Role**
 

*   As data science team member X company asked you to answer this two questions.
*  What type of employees is leaving? 

*   Determine which employees are prone to leave next.

Business Understanding

---

This step mostly focuses on understanding the Business in all the different aspects. It follows the below different steps.




* Identify the goal and frame the business problem.
* Prepare Analytical Goal i.e. what type of performance metric and loss function to use
* Gather information on resource, constraints, assumptions, risks etc
* Gather information on resource, constraints, assumptions, risks etc
*   Prepare Work Flow Chart

### Write the main objectives of this project in your words?
minimum of 100 characters

In [2]:
main_objectives ='''The main objective of this project is to determine what kind of employees are leaving the company, 
and which employees will likely leave next, by analysing the causing factors, which includes, Satisfaction Level,
Last evaluation, Number of projects, Average monthly hours, Time spent at the company, Whether they have had a work accident,Whether they have had a promotion in the last 5 years, Departments, Salary, and Whether the given employee has left.
'''

In [23]:
assert len(main_objectives) > 100
print(len(main_objectives), "You're good to go")
assert len(main_objectives) > 500 
print("Too much explanations, explain shortly")

450 You're good to go

### Outline the different data analysis steps you will follow to carry out the project

In [19]:
dm_outline = '''The following are the Data Analysis steps to be followed in this project:
**1. Problem definition** 
- Defining and pointing out clearly the problem to be addressed/to solved.

**2. understanding and acquiring the data**
- This involves collecting and exploring the associated/related data to be used in the project

** 3. Data Preparation **
- This step involves cleaning, handling missing/unknown values, standardization or scaling, feature selection 
  depending on the nature of the data and project,etc.

** 4. Modeling **
- This step involves choosing appropriate model depending on the problem at hand and given data, which may require Regression,
  Classification, or Clustering models. 

** 5. Model Evaluation **
- The chosen and developed model in step 4 above, is tested to see whether its performance is good or bad, depending on the following 
  criteras; the result and simplicity of the algorithm, business requirement, and deployment cost.
** 6. Deployment **
- The best developed model is presented and tested on real-time and evealuted. After has been tested and evaluated, its deployed.
'''

In [20]:
assert len(dm_outline) > 100 
print(len(dm_outline), "You're good to go")
assert len(dm_outline) > 1500 
print("Too much explanations, explain shortly")

960 You're good to go
Too much explanations, explain shortly

### What metrics will you use to measure the performance of your data analysis model? 
Write the equations of the metrics here

* Precision = $\frac{True Positive}{(True Positive + False Positive)}$,
* Accuracy = $\frac{correct predictions}{all predictions}$,
* Recall = $\frac{truepositives}{false negatives+true positives}$,

Why do you choose these metrics? minimum of 100 characters

In [21]:
why_metrics = '''I choose to use these metrics to measure the performance of this project (Data analysis),
because, the problem uses Classification model, to group/classify the employees which are leaving and likely to leave. 
Hence, these are some of metrics to measure performance of classification model.
'''

In [22]:
assert len(why_metrics) > 100 
print(len(why_metrics), "You're good to go")
assert len(why_metrics) < 100 
print(len(why_metrics), 'Add explanations')

207

### How would you know if your data analysis work is a success or not?
minimum of 100 characters

In [ ]:
how_success = '''The project is measured and evaluated by the metrics measured above, and by applying real time data to the 
model and evaluate how it reacts. Usually, if the validation score is large enough, therefore, we can conclude that
the analysis was successfully done
'''

In [ ]:
assert len(how_success) > 100 
print(len(how_success), "You're good to go")
assert len(how_success) < 100 
print(len(how_success), "Add Explanations")

## What kind of challenges do you expect in your analysis?
List at least 3 challenges

In [26]:
challenge_text = '''The following are the expected Challenges;
1. Less amount of training data, because, usually the company have only hundreds or thousands of employees
2. Non-representative Training Data, which can make classification difficulty,
3. Underfitting the Training data, due to less training data
'''

In [28]:
assert len(challenge_text) > 100 
print(len(challenge_text), "You're good to go")
assert len(how_success) < 100 
print(len(challenge_text), "Add some Explanations")

290 You're good to go

<h2>Using the processed twitter data from yesterday's challenge</h2>.


- Form a new data frame (named `cleanTweet`), containing columns $\textbf{clean-text}$ and $\textbf{polarity}$.

- Write a function `text_category` that takes a value `p` and returns, depending on the value of p, a string `'positive'`, `'negative'` or `'neutral'`.

- Apply this function (`text_category`) on the $\textbf{polarity}$ column of `cleanTweet` in 1 above to form a new column called $\textbf{score}$ in `cleanTweet`.

- Visualize The $\textbf{score}$ column using piechart and barchart

<h5>Now we want to build a classification model on the clean tweet following the steps below:</h5>

* Remove rows from `cleanTweet` where $\textbf{polarity}$ $= 0$ (i.e where $\textbf{score}$ = Neutral) and reset the frame index.
* Construct a column $\textbf{scoremap}$ Use the mapping {'positive':1, 'negative':0} on the $\textbf{score}$ column
* Create feature and target variables `(X,y)` from $\textbf{clean-text}$ and $\textbf{scoremap}$ columns respectively.
* Use `train_test_split` function to construct `(X_train, y_train)` and `(X_test, y_test)` from `(X,y)`

* Build an `SGDClassifier` model from the vectorize train text data. Use `CountVectorizer()` with a $\textit{trigram}$ parameter.

* Evaluate your model on the test data.

In [29]:
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as sns
from wordcloud import STOPWORDS,WordCloud
from gensim import corpora
import pandas as pd
import statistics
import string
import os
import re

In [31]:
#To read csv file and create dataframe
cleanTweet = pd.read_csv('cleaned_fintech_data.csv')
cleanTweet.head()

,Unnamed: 0,created_at,source,original_text,clean_text,sentiment,polarity,subjectivity,lang,favorite_count,...,original_author,screen_count,followers_count,friends_count,possibly_sensitive,hashtags,user_mentions,place,place_coord_boundaries,timestamp
0,0.0,Thu Jun 17 06:26:34 +0000 2021,"<a href=""https://mobile.twitter.com"" rel=""nofo...",Giving forth life is becoming a burden in Keny...,Giving forth life becoming burden Kenya This m...,"Sentiment(polarity=0.3194444444444445, subject...",0.3194444444444445,0.5305555555555556,en,0,...,reen_law,398,70,223,NaN,NaN,janetmachuka_,NaN,NaN,2021-06-17 06:26:34+00:00
1,1.0,Thu Jun 17 06:26:37 +0000 2021,"<a href=""http://twitter.com/download/android"" ...",Teenmaar - 26cr\nPanja - 32.5cr\nGabbarsingh -...,Teenmaar crPanja crGabbarsingh cr Khaleja Kuda...,"Sentiment(polarity=0.0, subjectivity=0.0)",0.0,0.0,in,0,...,Amigo9999_,19047,132,1084,NaN,NaN,maheshblood,NaN,India,2021-06-17 06:26:37+00:00
2,2.0,Thu Jun 17 06:26:42 +0000 2021,"<a href=""http://twitter.com/download/android"" ...",Rei chintu 2013 lo Vachina Ad Nizam ne 2018 lo...,Rei chintu lo Vachina Ad Nizam ne lo kottaru f...,"Sentiment(polarity=0.0, subjectivity=0.0)",0.0,0.0,hi,0,...,MallaSuhaas,47341,2696,2525,NaN,NaN,Hail_Kalyan,NaN,Vizag,2021-06-17 06:26:42+00:00
3,3.0,Thu Jun 17 06:26:44 +0000 2021,"<a href=""http://twitter.com/download/iphone"" r...",Today is World Day to Combat #Desertification ...,Today World Day Combat Restoring degraded land...,"Sentiment(polarity=0.25, subjectivity=0.65)",0.25,0.65,en,0,...,CIACOceania,7039,343,387,NaN,"Desertification, Drought, resilience",EdwardVrkic,NaN,Papua New Guinea,2021-06-17 06:26:44+00:00
4,4.0,Thu Jun 17 06:26:47 +0000 2021,"<a href=""http://twitter.com/download/android"" ...",Hearing #GregHunt say he's confident vaccines ...,Hearing say 's confident vaccines delivered li...,"Sentiment(polarity=0.5, subjectivity=0.8333333...",0.5,0.8333333333333334,en,0,...,MccarronWendy,26064,419,878,NaN,"GregHunt, Morrison",WriteWithDave,NaN,"Sydney, New South Wales",2021-06-17 06:26:47+00:00

In [99]:
#To get information abou the data
cleanTweet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5621 entries, 0 to 5620
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              5620 non-null   float64
 1   created_at              5621 non-null   object
 2   source                  5621 non-null   object
 3   original_text           5621 non-null   object
 4   clean_text              5617 non-null   object
 5   sentiment               5621 non-null   object
 6   polarity                5621 non-null   object
 7   subjectivity            5621 non-null   object
 8   lang                    5621 non-null   object
 9   favorite_count          5621 non-null   object
 10  retweet_count           5621 non-null   object
 11  original_author         5621 non-null   object
 12  screen_count            5621 non-null   object
 13  followers_count         5621 non-null   object
 14  friends_count           5621 non-null   object
 15  possibly_sensitive      131 non-null    object
 16  hashtags                813 non-null    object
 17  user_mentions           5621 non-null   object
 18  place                   1 non-null      object
 19  place_coord_boundaries  3603 non-null   object
 20  timestamp               5621 non-null   object
dtypes: float64(1), object(20)
memory usage: 922.3+ KB

In [100]:
print("The number of missing value(s): {}".format(cleanTweet.isnull().sum().sum()))
print("Columons having columns value:{}".format(cleanTweet.columns[cleanTweet.isnull().any()]))

The number of missing value(s): 17941
Columons having columns value:Index(['Unnamed: 0', 'clean_text', 'possibly_sensitive', 'hashtags', 'place',
       'place_coord_boundaries'],
      dtype='object')

In [103]:
tweets_filtered = pd.DataFrame(columns=['clean_text','polarity'])

tweets_filtered['clean_text'] =  cleanTweet['clean_text'].to_list()
tweets_filtered['polarity'] = cleanTweet['polarity'].to_list()

In [102]:
tweets_filtered.head()

                                          clean_text            polarity
0  Giving forth life becoming burden Kenya This m...  0.3194444444444445
1  Teenmaar crPanja crGabbarsingh cr Khaleja Kuda...                 0.0
2  Rei chintu lo Vachina Ad Nizam ne lo kottaru f...                 0.0
3  Today World Day Combat Restoring degraded land...                0.25
4  Hearing say 's confident vaccines delivered li...                 0.5

In [104]:
tweets_filtered.dropna()
tweets_filtered[:100]

                                           clean_text             polarity
0   Giving forth life becoming burden Kenya This m...   0.3194444444444445
1   Teenmaar crPanja crGabbarsingh cr Khaleja Kuda...                  0.0
2   Rei chintu lo Vachina Ad Nizam ne lo kottaru f...                  0.0
3   Today World Day Combat Restoring degraded land...                 0.25
4   Hearing say 's confident vaccines delivered li...                  0.5
..                                                ...                  ...
95  First last warning .. Inkosari families joliki...  0.16666666666666666
96  Sln teaser trailer views amp trailer likes gt ...                  0.0
97  LETTER inspired archetypal male Nat J. Dornan ...                  0.0
98  `` I ask pays `` Andrew Neil challenges Rishi ...                  0.0
99  Mana Hand ki unna fingers anny okela undavu .....   0.5083333333333333

[100 rows x 2 columns]

In [105]:
def text_category(p):
    if p == 0:
        return "neutral"
    elif p > 0:
        
        return "positive"
    else:
        return "negative"

In [108]:
tweets_filtered['polarity']=pd.to_numeric(tweets_filtered['polarity'],errors='coerce')
tweets_filtered['score'] = tweets_filtered.polarity.apply(text_category)
    
tweets_filtered[:100]

                                           clean_text  polarity     score
0   Giving forth life becoming burden Kenya This m...  0.319444  positive
1   Teenmaar crPanja crGabbarsingh cr Khaleja Kuda...  0.000000   neutral
2   Rei chintu lo Vachina Ad Nizam ne lo kottaru f...  0.000000   neutral
3   Today World Day Combat Restoring degraded land...  0.250000  positive
4   Hearing say 's confident vaccines delivered li...  0.500000  positive
..                                                ...       ...       ...
95  First last warning .. Inkosari families joliki...  0.166667  positive
96  Sln teaser trailer views amp trailer likes gt ...  0.000000   neutral
97  LETTER inspired archetypal male Nat J. Dornan ...  0.000000   neutral
98  `` I ask pays `` Andrew Neil challenges Rishi ...  0.000000   neutral
99  Mana Hand ki unna fingers anny okela undavu .....  0.508333  positive

[100 rows x 3 columns]